.flag-container {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

::ng-deep {
  .mat-mdc-autocomplete-panel {
    background-color: white !important;
  }

  .mdc-text-field--filled {
    background-color: white !important;
  }

  .mat-mdc-form-field {
    width: 100%;
  }
}

.game-container {
  min-height: calc(100vh - 200px);
  padding-bottom: 60px;
}
