<h1 class="mb-4">Jogo das Bandeiras</h1>

<div *ngIf="isLoading" class="text-center">
  <p>Carregando jogo...</p>
</div>

<div *ngIf="!isLoading && !gameOver" class="game-container">
  <div class="text-center mb-3">
    <h2 class="h4">Rodada {{ currentRound }} de {{ totalRounds }}</h2>
    <p class="timer" [ngClass]="{ 'timer-warning': timeLeft <= 3 }">
      Tempo Restante: {{ timeLeft }}s
    </p>
  </div>

  <div
    class="flag-container mb-4 p-3 bg-white border border-secondary rounded mx-auto"
    style="max-width: 400px"
  >
    <div class="bg-body-secondary border">
      <img
        [src]="currentCountry?.flags?.svg"
        [alt]="currentCountry?.flags?.alt || currentCountry?.name?.common || ''"
        class="d-block mx-auto"
        style="width: 100%"
        [class.correct-answer]="
          feedbackVisible && selectedOption && isCorrectAnswer(selectedOption)
        "
        [class.wrong-answer]="
          feedbackVisible && selectedOption && !isCorrectAnswer(selectedOption)
        "
      />
    </div>
  </div>

  <div class="options-container">
    <button
      *ngFor="let option of options"
      class="btn btn-outline-primary mb-2 w-100"
      (click)="checkAnswer(option)"
      [disabled]="feedbackVisible"
      [class.btn-success]="feedbackVisible && isCorrectAnswer(option)"
      [class.btn-danger]="
        feedbackVisible && selectedOption === option && !isCorrectAnswer(option)
      "
    >
      {{ option.translations.por.common }}
    </button>
  </div>
</div>

<div *ngIf="gameOver" class="game-over text-center">
  <h2>Fim de Jogo!</h2>
  <p class="score">Você acertou {{ score }} de {{ totalRounds }} bandeiras!</p>
  <p class="percentage">
    Taxa de acerto: {{ (score / totalRounds) * 100 | number : "1.0-0" }}%
  </p>
  <button class="btn btn-primary mt-3" (click)="restartGame()">
    Jogar Novamente
  </button>
</div>
