<div *ngIf="isLoading" class="text-center">
  <p>Carregando países...</p>
</div>

<div *ngIf="errorMessage" class="alert alert-danger text-center">
  {{ errorMessage }}
</div>

<div *ngIf="!isLoading && !errorMessage" class="row">
  <!-- *ngFor: diretiva Angular que itera sobre o array de países -->
  <div *ngFor="let country of countries" class="col-12 col-md-4 col-lg-3 mb-4">
    <a
      [routerLink]="['/pais', country.translations.por.common]"
      class="card-link"
    >
      <div class="card h-100">
        <img
          [src]="country.flags.svg"
          class="card-img-top"
          [alt]="country.flags.alt"
        />
        <div class="card-body">
          <h5 class="card-title">{{ country.translations.por.common }}</h5>
          <!-- Informação de população com formatação numérica usando pipe -->
          <p class="card-text">
            <i class="fas fa-users text-muted me-2"></i
            ><strong>População:</strong> {{ country.population | number }}
          </p>
          <p class="card-text">
            <i class="fas fa-star text-muted me-2"></i><strong>Capital:</strong>
            {{ country.capital ? country.capital[0] : "N/A" }}
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
