<div class="sidebar-container d-flex flex-column">
  <a class="sidebar-brand" routerLink="/paises"> Atlas Mundial </a>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/paises" routerLinkActive="active">
        Página Principal
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/jogo-bandeiras"
        routerLinkActive="active"
      >
        Jogo das Bandeiras
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pesquisar" routerLinkActive="active">
        Pesquisar
      </a>
    </li>
  </ul>
</div>
