.container-fluid {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px); // altura total menos altura do footer
}

.card {
  flex: 1;
}
