// Importa variáveis globais definidas no arquivo variables.scss
@use "app/variables" as *;

// Definição de famílias de fontes
$font-headings: "Merriweather", serif;
$font-body: "Roboto", sans-serif;

// Estilos globais da aplicação
body {
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  font-family: $font-body;
}

// Todos os títulos usam a fonte Merriweather
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headings;
}
